@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-color: #1BF;
  font-family: 'Indie Flower', cursive;
  margin-top: 200px;
}

h1 {
  background-color: white;
  padding: 10px 15px;
  color: navy;
}
h2{
  color:plum;
}

span{
  color:navy;
}
